* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	background-color: #fff;
	font-family: "Playfair Display", serif;
	font-weight: normal;
	font-size: 14px;
	color: #626262;
  }
  
  ul {
	list-style: none;
  }
  
  a {
	text-decoration: none;
  }
  
  .container {
	max-width: 900px;
	margin: 0 auto;
  }
  
  .header {
	padding-top: 72px;
	padding-bottom: 98px;
  }
  
  .menu {
	font-size: 0;
	text-align: center;
  }
  
  .menu_item {
	display: inline-block;
  }
  
  .menu_item:not(:last-child) {
	margin-right: 100px;
  }
  
  .menu_item-link {
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.714;
	text-align: center;
	color: rgb(98, 98, 98);
  }
  
  .menu_item-link:hover {
	color: #03a9f4;
  }
  
  .batiko {
	font-size: 0;
  }
  
  .divka {
	display: inline-block;
	max-width: 50%;
	margin-bottom: 130px;
	font-size: 14px;
  }
  
  .container-kartinok {
	margin-bottom: 30px;
  }
  
  .kartinka-title {
	margin-bottom: 32px;
	font-family: "Ubuntu", sans-serif;
	color: rgb(180, 173, 158);
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: 300;
  }
  .title {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 36px;
  }
  
  .peshka {
	line-height: 1.714;
  }
  
  .left {
	padding-right: 30px;
  }
  
  .right {
	padding-left: 30px;
  }
   
  .wrp-btn {
	text-align: center;
	padding-bottom: 95px;
  }
  
  .btn-load {
	display: inline-block;
	width: 164px;
	height: 60px;
	border: rgb(98, 98, 98) solid 1px;
	color: #626262;
	text-align: center;
	font-size: 24px;
	line-height: 60px;
	text-decoration: none;
  }
  
  .btn-load:hover {
	color: #03a9f4
  }
  
  .diveka {
	display: inline-block;
	max-width: 50%;
	font-size: 14px;
	margin-bottom: 90px
  }